<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ticket System</title>

    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>

    <header>
        <h1>Ticket System</h1>
    </header>

    <main>

        <div class="page-header">
            <h2>Tickets</h2>

            <button class="new-ticket-button">
                Novo Ticket
            </button>
        </div>

        <div class="ticket-container">

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Ticket</th>
                        <th>Projeto</th>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th>Prioridade</th>
                    </tr>
                </thead>

                <tbody>

                    <!-- Ticket de teste -->
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.id}"></td>
                        <td th:text="${ticket.name}"></td>
                        <td th:text="${ticket.project}"></td>
                        <td th:text="${ticket.assignee}"></td>
                        <td>
                            <div th:switch="${ticket.status}">
                                <span th:case="${T(com.ibm.tickets.model.Status).OPEN}" class="status open">
                                    Aberto
                                </span>
                                <span th:case="${T(com.ibm.tickets.model.Status).IN_PROGRESS}" class="status progress">
                                    Em andamento
                                </span>
                                <span th:case="${T(com.ibm.tickets.model.Status).CLOSED}" class="status closed">
                                    Concluído
                                </span>
                            </div>
                        </td>
                        <td>
                            <div th:switch="${ticket.priority}">
                                <span th:case="${T(com.ibm.tickets.model.Priority).HIGH}">
                                    Alta
                                </span>
                                <span th:case="${T(com.ibm.tickets.model.Priority).MEDIUM}">
                                    Média
                                </span>
                                <span th:case="${T(com.ibm.tickets.model.Priority).LOW}">
                                    Baixa
                                </span>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </main>

</body>
</html>